@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap');

/* shared styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

.btn-primary{
    
    border-radius: 8px;
    background: #FF900E;
    border: none;
    font-size: 1.25rem;
    color: #FFF;
    font-weight: 600;
    padding: 20px 25px;

}

/* Header style */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav > ul{
    display: flex;
    
}

nav li{
    list-style: none;
    margin-right: 50px;
    
    
}

nav li a{
    text-decoration: none;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
    

}

/* banner styles */

.banner{
    margin-top: 100px;

    
}

.banner-container{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
    
}

.banner-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    
}

.banner-description{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400px;
    margin-top: 20px; 
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* main styles*/
main{
    max-width: 1440px;
    margin: 85px auto;
}

/* feature styles */
.feature-section{
    display: flex;
    align-items: center;
    
    
}

.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}
.feature-content{
    padding-left: 70px;
    padding-right: 70px;
}

.feature-title{
    color:#727272 ;
    font-size: 2.7rem;
    font-weight: 500;

}

.feature-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin:24px 0px 32px 0px;

}

/* Main feature design here */

.main-feature{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.main-feature .main-feature-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
    border-left:5px solid #FF900E;

}

.main-feature-description{
    font-size: 1rem;
    font-weight: 400;
    padding: 24px 0px 60px 0px;
}

.main-feature .card{
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.main-feature-img img{
    height: 75%;
    margin-left: 109px;
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    width: 322px;
    padding: 45px 42px;
    text-align: center;
    position: relative;
    bottom: 109px;

}

.ten-years-badge h2{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
}

.ten-years-badge p{
    color: #FFF;
    font-size: 1.5em;
    font-weight: 500;

}

/* facts style here */

.facts-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 5px;
}

.facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
}

.facts-card-container{
     display: flex;
     justify-content: space-around;
     margin-top: 100px;

}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats{
    color:#424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title{
    color: #727272;
    
    
}

/* Sponsors style */
.sponsors-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    align-items: center;
    text-align: center;
    margin-top: 40px;

}

.sponsors-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    text-align: center;
    margin-bottom: 31px;

}

.sponsors-img-container{
    display: flex;
     justify-content: space-around;
    
}

.sponsors-img-container img{
    margin-bottom: 30px;
}

footer p{
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: bisque;
    /* padding: 39px 410px; */

}

/* Responsive design */
/* Design for mobile device */

@media screen and (max-width: 576px) {
    .header{
        padding: 10px;
    }
    nav,
    .feature-section,
    .main-feature,
    .facts-card-container,
    .sponsors-img-container{
        flex-direction: column;
    }

    nav > ul{
        margin-top: 30px;
    }
    .img-container{
        grid-template-columns: 1fr;

    }

    .feature-content{
        padding: 15px;
    }

    .main-feature-img img{
        width: 90%;
        margin-left: 20px;
    }

    .ten-years-badge{
        position: static;
        max-width: 300px;
        margin-left: 17px;
    }

    .facts-card-container .card{
        margin-bottom: 10px;
    }

    
}

/* Responsive for tablet */

@media screen and (min-width:576px) and (max-width:992px){
    .header{
        padding: 10px;
    }

    .feature-section,
    .main-feature{
        flex-direction: column;
    }

    .feature-content{
        padding: 15px;
        justify-content: center;
        text-align: center;
    }

    .main-feature-img img{
        width: 80%;
    }

    .ten-years-badge{
        position: static;
        max-width: 300px;
        margin-left: 300px;
    }

    
}